@import 'variables.scss';
@import 'style_header.scss';
@import 'style_section-about.scss';
@import 'style_footer.scss';
@import 'style_pricing.scss';

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.background {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  opacity: 0.5;
  z-index: 10;
}

.intro {
  padding-top: 50px;
  padding-bottom: 110px;
  max-width: 480px;

  .intro__head {
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-blue;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1.4px;
  }

  .intro__subhead {
    color: $color-white;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 48px;
    margin-top: 5px;
    font-weight: 600;
  }

  .intro__text {
    color: $color-grey;
    font-size: 18px;
    margin-top: 24px;
    line-height: 26px;
    margin-bottom: 60px;
  }

  .intro__button-first {
    padding: 14px 25px;
    font-size: 14px;
    font-weight: 700;
    color: $color-white;
    letter-spacing: 0.2px;
    background-color: $color-price-blue;
    border-color: $color-price-blue;

    &:hover {
      background-color: $color-price-dark-blue;
      border-color: $color-price-dark-blue;
    }
  }

  .intro__button-second {
    padding: 14px 30px;
    font-size: 14px;
    font-weight: 700;
    color: $color-white;
    margin-left: 18px;
    border-color: $color-grey;

    &:hover {
      color: #212529;
    }

    @media (max-width: 372px) {
      margin-left: 0;
      margin-top: 20px;
      margin-right: 30px;
    }
  }
}

.features {
  padding-top: 46px;
  padding-bottom: 53px;
  text-align: center;

  .features__head {
    font-size: 14px;
    line-height: 49px;
    text-transform: uppercase;
    color: $color-blue;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1.4px;
  }

  .features__subhead {
    color: black;
    font-size: 35.5px;
    letter-spacing: 0.3px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 44px;
    background-image: url("../img/prokat.png");
    background-position: center bottom 0;
    background-repeat: no-repeat;
  }

  .features__cards {
    .features__card_img {
      width: 90px;
      height: 90px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 65px;
    }

    .features__card_head {
      margin-top: 28px;
    }
  }

  .features__card_text {
    color: $color-grey;
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    margin-top: 11px;
    line-height: 26px;
  }
}

.line-down-features {
  color: $color-grey;
  width: 100%;
}

.testimonials {
  padding-top: 44px;
  padding-bottom: 184px;

  .testimonials__head {
    text-align: center;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-blue;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1.4px;
  }

  .testimonials__subhead {
    text-align: center;
    color: $color-white;
    font-size: 35.5px;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin-top: 5.5px;
    font-weight: 600;
    padding-bottom: 41px;
    background-image: url("../img/prokat.png");
    background-position: center bottom 0;
    background-repeat: no-repeat;
  }

  .test {
    height: 50px;
    background-color: #008ed6;
  }
}

.testimonials {
  background-image: url("../img/Prostokąt 4.png");
  background-size: cover;

  .slick-dots {
    bottom: -154px;

    li button {
      font-size: 10px;
    }

    li button::before {
      font-size: 10px;
      color: $color-white;
      content: "○";
    }

    li.slick-active button::before {
      color: $color-white;
      opacity: 0.75;
      font-size: 16px;
      content: "•";
      margin-top: 3px;
    }
  }

  .testimonials__slider {
    padding-top: 64px;
    margin-left: -17px;

    .testimonials__slide {
      padding-top: 22px;

      .block {
        display: flex;
        margin-top: 23px;
        margin-left: 2px;
      }

      .testimonials__slide_img {
        width: 59px;
      }

      .testimonials__slide_author {
        display: block;
      }

      .testimonials__slide_text {
        font-size: 24px;
        line-height: 32px;
        color: $color-white;
        font-weight: 400;
        font-style: italic;
      }

      .block-name {
        padding-left: 24px;
        padding-top: 2px;

        .testimonials__slide_author {
          margin-bottom: 2px;
          margin-top: 1px;
          font-style: normal;
          color: $color-white;
        }

        .testimonials__slide_position {
          font-size: 14.3px;
          color: $color-white;
          font-weight: 600;
        }
      }
    }
  }
}

.eye-catcher {
  background-color: $color-black;
  padding-top: 60px;
  padding-bottom: 59px;

  .eye-catcher__first-text {
    font-size: 36px;
    line-height: 48px;
    color: $color-white;
    font-weight: 600;
  }

  .eye-catcher__second-text {
    font-size: 36px;
    line-height: 48px;
    color: $color-white;
    font-weight: 300;
    margin-left: 5px;
  }

  .button-block {
    display: flex;
    justify-content: right;

    .eye-catcher__button-light {
      padding: 0 31px;
      margin-right: 20px;
      font-size: 14px;
      line-height: 48px;
      color: $color-white;
      font-weight: 700;
      height: 50px;
      border-color: $color-grey;

      &:hover {
        color: $color-black
      }
    }

    .eye-catcher__button-primary {
      height: 50px;
      padding: 0 26px;
      font-size: 14px;
      line-height: 48px;
      color: $color-white;
      font-weight: 700;
      background-color: $color-price-blue;
      border-color: $color-price-blue;

      &:hover {
        background-color: $color-price-dark-blue;
        border-color: $color-price-dark-blue;
      }
    }
  }
}

.contacts {
  padding-top: 42px;
  background-color: #ededed;
  position: relative;
  z-index: 1;

  .contacts__head {
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-blue;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 1.4px;
    text-align: center;
  }

  .contacts__subhead {
    color: black;
    font-size: 35.5px;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin-top: 6px;
    font-weight: 600;
    padding-bottom: 40px;
    background-image: url("../img/prokat.png");
    background-position: center bottom 0;
    background-repeat: no-repeat;
    text-align: center;
  }

  .contacts__block {
    text-align: center;
    padding-top: 51px;

    .contacts__block_img {
      margin-bottom: 26px;
    }

    .contacts__block_text,
    .contacts__block_text a {
      font-size: 18px;
      line-height: 26px;
      color: $color-grey;
      font-weight: 400;
      margin-bottom: 0;
    }
  }
}

.contacts__form {
  background-color: $color-black;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding-top: 58px;
  padding-left: 66px;
  padding-right: 86px;
  padding-bottom: 38px;
  margin-bottom: -65px;

  input {
    width: 100%;
    background-color: $color-black;
    height: 50px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 48px;
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    padding-left: 15px;
    border-color: $color-grey;

    &:focus {
      text-transform: none;
    }
  }

  .contacts__form_block-left {
    width: 300px;
  }

  .contacts__form_block-right {
    width: 300px;

    textarea {
      width: 100%;
      height: 190px;
      background-color: $color-black;
      font-size: 14px;
      line-height: 36px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
      padding-left: 20px;
      border-color: $color-grey;
      resize: none;
    }

    .form-button {
      font-size: 14px;
      line-height: 48px;
      color: $color-white;
      font-weight: 700;
      margin-top: 20px;
      padding: 1px 31px;
      background-color: $color-price-blue;
      border-color: $color-price-blue;

      &:hover {
        background-color: $color-price-dark-blue;
        border-color: $color-price-dark-blue;
      }
    }
  }
}

.contacts__form .error {
  box-shadow: inset 0px 0px 10px 0px #ff8383;
  border: 1px solid #ff8383 !important;

  &::placeholder {
    color: #dc7f7f;
  }
}

#map {
  height: 372px;
  width: 100%;
  z-index: 0;
}

@import 'style_media.scss';